<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="pathForRead" value="C:\Users\DeveshR\Documents\XML Files"/>
    <add key="pathForMove" value="C:\Users\DeveshR\Documents\Processed XML Files\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="MyConnectionString" providerName="System.Data.SqlClient" connectionString="Server=10.1.0.129;Database=Starlabs_Devesh;User Id=itsadmin; Password=interit_6789;" />
  </connectionStrings>
</configuration>